@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 10px;
}

#fullpage {
  background-image: url("../content/img/chesscake.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.first-menu, .second-menu {
  display: flex;
  display: inline-flex;
  list-style: none;
}

li {
  padding: 10px;
  
}

.first-menu {
  margin-left: 8px;
}
.second-menu {
  margin-right: 8px;
}


nav {
  display: flex;
  justify-content: space-between;
  background-color: #563232;
  color: black;
  height: 60px;
  width: 100%;
  align-items: center;
}

nav a {
  color:  white;
  font-size: 1.3em;
  text-decoration: none;
}

h1 {
  font-size: 6em;
  color: maroon;
  margin: -20px 20px 20px 0;
  opacity: 1;
  text-align: right;
  line-height: 1.5;
  padding-top: 50px;
}

.big-title {
  background-color: rgba(255,255,255, 0.3);
}


.big-title h2 {
  text-align: right;
  width: 50%;
  position: relative;
  left:45%;
  font-size: 2em;
}

p {
  color: white
}

.button a {
  text-decoration: none;
  color: black;
}
/* Check button with animation */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px
}

.button {
  min-width: 200px;
  min-height: 40px;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 2.5em;
  color: #313133;
  background: #d19d4f;
background: linear-gradient(90deg, rgb(230, 183, 129) 0%, rgb(209, 153, 79) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(209, 148, 79, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff9900;
  box-shadow: 0 0 60px rgba(255, 136, 0, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #ff9100;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
  border: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

/* Check it section */
.background {
  background-image: url("../content/img/chessdate.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 50vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
display: flex;
flex-direction: row;
}

.calendar {
  display: flex;
  margin: 15px 40px;
  flex-direction: column;
}

.calendar label {
font-size: 2.7em;  
color: white;
line-height: 1.8;
}


.background p {
  font-size: 1.7em;
  color: #313133;

}

.uploaded-text {
  background-color: rgba(255,255,255, 0.75);
  padding:30px
}

/* Submit button */
.box-1 { background-color: #30a7c5; }

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 150px;
	cursor: pointer;
}

hr {
  margin: 5px 0;


}
.card {
background-color: #30a7c5;
margin: 10px;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;

}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.thumbnail-container {
  margin: 20px;
}

.thumbnail {
border-radius: 10px;
height:225px

}

.info-gm {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: 225px
}

h3{
  font-size: 1.4em;
}

.bio p {
  font-size: 1.1em;
}

.elo {
  color: #ff9900;
}

.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1;	
	transform: scale(1, 1);	
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0;	
	transform: scale(0.1, 1);
}

.btn span {
  font-size: 2em;
}



/* Sign Up */

.signup, .login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 60px;
  background-color: #30a7c5;
  border-radius: 30px;
  padding: 20px;
  box-shadow: #313133;
}

.signup h2, .login h2{
font-size: 3em;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.form-wrapper form input {
  margin: 20px;
}

.signup-form input, .login input {
width: 140px;
height: 30px;
border-radius: 5px;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* FAQ */


.scrap-bg {
  background-image: url("../content/img/chessscrap.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: repeat;
  background-size: contain;

}

.qa p {
  color: black;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 3px 2px 2px black;
}

.question {
  background-color: #ff9100;
  width: 50%;
  position: relative;
  left:45%;
  font-size: 2em;
  border-radius: 8px 8px 0px 8px;
}

.answer {
  background-color: #30a7c5;
  width: 60%;
  position: relative;
  font-size: 2em;
  border-radius: 8px 8px 8px 0px;
}

.transparency {
  background-color: rgba(255,255,255, 0.35);
  padding: 30px 0;
}

footer {
  border-top: maroon dotted;
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(201, 108, 1);
}

footer a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}