@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/*CSS for the whole site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 10px;
}

header {
  display: flex;
  flex-direction: column;
}

h2 {
  line-height: 1.6em;
}

@media (min-width: 700px) {
.firstmenu {
  display: flex;
    justify-content: inherit;
  }
  li {
    padding: 0;
  }
}
/* Home page */


#fullpage {
  background-image: url("../content/img/chesscake.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.first-menu {
  display: flex;
  display: inline-flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}

li {
  padding: 10px;
  
}

.first-menu {
  margin-left: 8px;
}


nav {
  display: flex;
  background-color: #563232;
  color: black;
  height: 60px;
  width: 100%;
  align-items: center;
}

nav a {
  color:  white;
  font-size: 1.3em;
  text-decoration: none;
}

h1 {
  font-size: 6em;
  color: maroon;
  margin: -20px 20px 20px 0;
  opacity: 1;
  text-align: right;
  line-height: 1.5;
  padding-top: 50px;
}

.big-title {
  background-color: rgba(255,255,255, 0.3);
}


.big-title h2 {
  text-align: right;
  width: 50%;
  position: relative;
  left:45%;
  font-size: 2em;
}

p {
  color: white
}

.button a {
  text-decoration: none;
  color: black;
}

i {
  color: white;
  margin: none;
}

.mobilebar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu li {
  padding: none;
  margin: -12px 10px;
}

.today-card {
  display: flex;
  flex-direction: column;
  background-color: #30a7c5;
  margin: 70px;
  padding: 20px;
  border-radius: 20px;
  align-items: center;

}
/* Responsive Ipad */

@media (min-width: 700px) {
  h1 {
    margin: 0px 40px 30px 40%;
    font-size: 7em;
  }
  .big-title h2 {
    text-align: right;
    width: 40%;
    position: relative;
    left:57%;
    font-size:2.5em;
  }
  .button-container {
    margin: 60px;
    font-size: 1.5em;
  }
  .big-title {
    padding: 30px;
  }
  .button {
    width: 300px;
    height: 60px;

  }

}

@media (min-width: 950px) {
  header {
    flex-direction: column-reverse;
  }

  #fullpage {
background-position-x: 240%;
background-repeat: repeat-x;
  }
  .button-container {
    margin: 60px 2% 50px 60%;

  }

}

/* Check button with animation */

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px
}

.button {
  min-width: 200px;
  min-height: 40px;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 2.5em;
  color: #313133;
  background: #d19d4f;
background: linear-gradient(90deg, rgb(230, 183, 129) 0%, rgb(209, 153, 79) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(209, 148, 79, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #ff9900;
  box-shadow: 0 0 60px rgba(255, 136, 0, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before, button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #ff9100;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  
}

.button:hover::after, button:focus::after {
  animation: none;
  display: none;
  border: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

/* Check it section */
.background {
  background-image: url("../content/img/chessdate.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 50vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
display: flex;
flex-direction: row;
justify-content: space-between;
}

.calendar {
  display: flex;
  margin: 15px 20px;
  flex-direction: column;
}

.calendar label {
font-size: 2.7em;  
color: white;
line-height: 1.8;
margin: 20px
}

.calendar input {
  height: 30px;
  font-size: 1.4em;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

/* Bottom part of the page */

.result-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.result-container h2 {
  margin-left: 15px;
  font-size: 2em;
  margin-top: 10px;
}

.background p {
  font-size: 1.6em;
  color: #313133;
}

.card-container{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-evenly;
height: auto;
}

.uploaded-text {
  background-color: rgba(202, 162, 101, 0.85);
  padding:30px;
  width: 80%
}


#check-it span{
  color:white;
}

@media (min-width : 750px) {
  .uploaded-text {
    background-color: rgba(202, 162, 101, 0.85);
    padding:30px;
    width: 40%;
  }

  .uploaded-text p {
    font-size: 2.8em;
  }

  #check-it {
    margin: 20px 24%;
    height: 60px;
    font-size: 1.7em;
  }

  .calendar label {
    font-size: 3em;
  }

  .calendar input {
    height: 50px;
    font-size: 1.8em;
  }
}

@media (min-width : 900px) {
  .uploaded-text {
    background-color: rgba(202, 162, 101, 0.85);
    padding:30px;
    width: 40%;
  }

  .uploaded-text p {
    font-size: 4em;
  }

  #check-it {
    margin: 20px 37%;
    height: 60px;
  }

  .calendar label {
    font-size: 6em;
  }

  .calendar input {
    height: 70px;
    font-size: 2.4em;
  }
  
}
/* Submit button */
.box-1 { background-color: #30a7c5; }

.btn {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 150px;
	cursor: pointer;
}

.card {
background-color: #30a7c5;
margin: 8px;
border-radius: 20px;
display: flex;
flex-direction: row;
align-items: center;
width: 360px;
height: auto;
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.thumbnail-container {
  margin: 15px;
}

.thumbnail {
border-radius: 10px;
height:226px;
width: 150px;
object-fit: cover;

}

.info-gm {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  height: auto
}

h3{
  font-size: 1.4em;
}

.bio p {
  font-size: 1.1em;
}

.btn span {
  font-size: 2em;
}

.birthday-number {
  font-size: 2em;
  color: rgba(255, 136, 0);
}

.result-container hr {
  color: rgba(255, 136, 0) ;
  display: block;
  margin: 1.7em 1.2em;
  border-style: solid;
  border-width: 4px;
  width: 20%;
  border-radius: 5px 0;
}


/* Sign Up Sign In */

.signup, .login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 60px;
  background-color: #30a7c5;
  border-radius: 30px;
  padding: 20px;
  box-shadow: #313133;
}

.signup h2, .login h2{
font-size: 3em;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.form-wrapper form input {
  margin: 20px;
}

.signup-form input, .login input {
width: 140px;
height: 30px;
border-radius: 5px;
padding: 10px;
}


form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register {
  width: 150px;
  height: 45px;
  border-radius: 20px;
  background-color: rgba(255, 136, 0);
  margin: 20px;
  color: white;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
}

.register:disabled {
  background-color: rgba(255, 136, 0, 0.6);
  color:  rgba(255,255,255, 0.75);;
}

@media (min-width: 700px) {

  .signup, .login {
    margin: 40px 30%
  }
}

@media (min-width: 950px) {

  .signup, .login {
    margin: 40px 40%
  }
}

/* FAQ */


.scrap-bg {
  background-image: url("../content/img/chessscrap.jpeg");
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: repeat;
  background-size: contain;

}

.qa p {
  color: black;
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: 3px 2px 2px black;
}

.question {
  background-color: #ff9100;
  width: 50%;
  position: relative;
  left:45%;
  font-size: 2em;
  border-radius: 8px 8px 0px 8px;
}

.answer {
  background-color: #30a7c5;
  width: 60%;
  position: relative;
  font-size: 2em;
  border-radius: 8px 8px 8px 0px;
}

.transparency {
  background-color: rgba(255,255,255, 0.35);
  padding: 30px 0;
}

footer {
  border-top: maroon dotted;
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(201, 108, 1);
}

footer a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}

@media (min-width: 700px) {

  .transparency {
    width: 350px;
    margin: 0 40%;
  }
}

@media (min-width: 950px) {

  .signup, .login {
    margin: 40px 40%
  }
}